/* css reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    border: 2px solid;
    padding: 40px 0px;
    display: flex;
    justify-content: center;

}

#input {
    font-size: 2rem;
}

#search-button {
    font-size: 2rem;
}
/* ---------------------------main section style------------------------------- */
#display-field{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.card{
    width: 100px;
    height: 100px;
    border: 2px solid red;
}
