@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@600&family=Cabin:wght@700&family=Shizuru&display=swap');

/* css reset  */
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Baloo Bhaijaan 2', cursive;
}
header {
    position: relative;
    padding: 40px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header::before{
    content: '';
    background: url(../images/img.jpg)no-repeat center center/cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.9;
}
a{
    list-style: none;
    text-decoration: none;
}
#logo{
    font-size: 1.9rem;
    font-weight: 800;
    background-image: linear-gradient(60deg, #be91e9, #f5f0eb);
    color: black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
}
#login{
    background-color: aqua;
    padding: 6px 14px;
    border-radius: 10px;
    font-size: 1rem;
}
#sign-up{
    background-color: rgb(240, 182, 255);
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 1rem;
}
#login:hover{
    background-color: rgb(60, 140, 172);
    color: wheat;
}
#sign-up:hover{
    background-color: rgb(189, 128, 240);
    color: wheat;
}

#input {
    font-size: 2rem;
    border-radius: 10px;
    padding: 9px;
}

#search-button {
    font-size: 2rem;
}
/* ---------------------------main section style------------------------------- */
#display-field{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}
.card{
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 8px 10px 2px rgba(55,100,110,0.56);
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    margin: 15px 15px;
}
button{
    font-size: 1.3rem;
    margin: 10px 0px;
    border-radius: 10px;
    padding: 5px;
}
button:hover{
    background-color: rgb(60, 140, 172);
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.details{
    width: 50%;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 3px 8px 10px 2px rgba(55,100,110,0.56);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
span{
    color:rgb(226 133 72);
}

/* mediaquary  for  phone*/
@media only screen and (max-width: 599px) { 
    header{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    #input-field{
        font-size: 22px;
        text-align: center;
    }
    #login-info{
        margin-top: 10px;
    }
    #display-field{
        grid-template-columns: repeat(1, 1fr);
    }
 }
 /* mediaquiry for tablate */
@media only screen and (min-width: 600px) and (max-width: 900px){
    header{
        flex-direction: column;
    }
    
    #login-info{
        margin-top: 10px;
    }
    #display-field{
        grid-template-columns: repeat(2, 1fr);
    }
} 
 